.from-text-table{
  color: #3366FF;
  
}

.from-Bsc {
  max-width: 171px;
  display: inline-block;
  vertical-align: bottom;
} 

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td, td:hover {
  text-decoration: none;
}

td {
  color: #3498db;
  background-color: transparent;
}




.transaction-type-incoming{
    background-color: #D6E4FF;
    color: #3366FF;

}

.transaction-type-outgoing{
    background-color: #FFE9D5;
    color: #FF5630;
}

table,
th,
td {
  padding: 5px 1px;
  color: #000;
  font-size: 13px;


}

table {
  width: 100%;
  border-spacing: 2px;
}

tr {
  text-align: center;
  width: 100%;

}

tr {
  border-bottom: 1px solid #000;
}

tr:hover {background-color: #D6EEEE;}

td {
  width: 100%;
}

tbody {
  width: 100%;
}

.time-text{
  padding: 10px;
  width: 80px;
}