.list-tabs{
    list-style-type: none;
}

.tab-active{
  --color2: #3366FF;
  --color3: #1939B7;
  background: linear-gradient(87.45deg,var(--color2) 45.44%,var(--color3) 101.45%);

}

.tab-buttons{
    background-color: transparent;
    color: #000;
    font-size: 30px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 500;
    border: 1px solid #000;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
  
  
  }
  
  