.about-text{
    font-size: 25px;
    font-weight: 400;
}

.blue-colors{
    font-size: 13px;
    color: rgb(60, 145, 214);
    cursor: pointer;
}

.check-box-container{
    display: flex;
}

.check-box{
    height: 15px;
    width: 15px;
    padding: 5px;
}



.form-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 25px #00000067;
    width:250px;

}

form label{
    font-weight: 500;
}



.form-buttons{
    margin-top: 10px;
    background-color:rgb(60, 145, 214);
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;

}

.image-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    padding: 30px;


}

form input{
    padding: 5px;
    width: 85%;
    border-radius: 3px;
    border: 1px solid #0000009f;
    margin-bottom: 10px;
}




.login-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.lable-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secureverse-image-auth{
    width: 75px;
    height: 75px;
    background-size: cover;
    background-color: #000;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

.sign-up-btn{
    color:rgb(60, 145, 214);
    font-size: 15px;
    cursor: pointer;



}







