.transaction-type-incoming{
    background-color: #84A9FF;

}

.transaction-type-outgoing{
    background-color: lightblue;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px 1px;
  border-collapse: collapse;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 13px;

}

table {
  width: 100%;
}

tr {
  text-align: center;
  width: 100%;

}

td {
  width: 100%;
}

tbody {
  width: 100%;
}

.time-text{
  padding: 10px;
  width: 80px;
}