.blocknumber-text{
  color: #FF5630;
}

.from-text-table{
  color: #3366FF;
}


.transaction-type-incoming{
    background-color: #D8FBDE;
    color: #36B37E;

}

.type-transaction-text{
  color: #FF5630;
}

.transaction-type-outgoing{
    background-color: #FFE9D5;
    color: #FF5630;
}

table,
th,
td {
  padding: 5px 1px;
  color: #ffffff;
  font-size: 13px;

}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid #000;
}

tr:hover {background-color: #D6EEEE;}

tr {
  text-align: center;
  width: 100%;

}

td {
  width: 100%;
}

tbody {
  width: 100%;
}

.time-text{
  padding: 10px;
  width: 80px;
}